h1 {
  text-align: center;
  font-weight: bold;
}
form {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 100, 0, 0.5);

  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control {
  border-radius: 0;
  border: 2px solid #ccc;
}

label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0069d9;
}
