.navbar {
  background-color: darkgreen;
  color: #fff;
  font-weight: bold;
  font-size: xx-large;
}
.titre {
  margin-top: 50px;
  font-family: "Bruno Ace SC", cursive;
}
.navbar-brand {
  color: #fff;
  margin-right: 15px;
}
.nav-link {
  color: #fff;
}
#logo-image {
  height: 200px;
  width: auto;

  margin-right: 10px;
}

.image2 {
  float: right;
  height: 300px;
  width: 400 px;
  margin: 20px;
}

.image3 {
  float: left;
  height: 300px;
  width: 400 px;

  margin: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article1 {
  margin: 100px;
  border-left: 5px solid darkgreen;
  border-top: 5px solid darkgreen;
  padding: 20px;
}

.article2 {
  margin: 100px;
  border-right: 5px solid darkgreen;
  border-bottom: 5px solid darkgreen;
  padding: 20px;
}

.article3 {
  border: 5px solid darkgreen;
  margin: 100px;
  padding: 20px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* don */

.don-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.donate-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.donate-form input[type="number"],
.donate-form input[type="text"],
.donate-form input[type="email"],
.donate-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.donate-form input[type="number"] {
  width: 30%;
}

.donate-form textarea {
  height: 100px;
}

.donate-form button[type="submit"] {
  display: block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.donate-form button[type="submit"]:hover {
  background-color: #3e8e41;
}
